@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #1A1A1A;
  background: #E8E8E8;
  font-family: var(--font-body), Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading), Arial, Helvetica, sans-serif;
}
