@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #212121;
  background: #EEEEEE;
  font-family: Arial, Helvetica, sans-serif;
}

/* Centre le "flyer" dans la page */
main {
  margin: 0 auto;
}
